<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="passwordResetForm">
    <ion-list>
        <ion-item>
            <ion-label position="floating">Email Address</ion-label>
            <ion-input type="email" required="" formControlName="email_address" spellcheck="false" autocomplete="off" autocapitalize="off" class="ion-text-left" placeholder="Enter Email"></ion-input>
        </ion-item>
        <ng-container *ngFor="let error of errorMessages.email_address">
          <div class="error-message" *ngIf="passwordResetForm.get('email_address').hasError(error.type) && (passwordResetForm.get('email_address').dirty || passwordResetForm.get('email_address').touched)">
            {{ error.message }}
          </div>
        </ng-container>
    </ion-list>
    <ion-button expand="full" class="signup-btn" shape="round" [disabled]="!passwordResetForm.valid" (click)="resetPassword()">Reset Password</ion-button>
  </form>
</ion-content>
