<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="changePasswordForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Old Password</ion-label>
        <ion-input type="password" required="" formControlName="old_password" spellcheck="false" autocomplete="off" autocapitalize="off" class="ion-text-left" maxlength="30" placeholder=" "></ion-input>
      </ion-item>
      <ng-container *ngFor="let error of errorMessages.old_password">
        <div class="error-message" *ngIf="changePasswordForm.get('old_password').hasError(error.type) && (changePasswordForm.get('old_password').dirty || changePasswordForm.get('old_password').touched)">
          {{ error.message }}
        </div>
      </ng-container>
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" required="" formControlName="new_password" spellcheck="false" autocomplete="off" autocapitalize="off" class="ion-text-left" maxlength="30" placeholder=" "></ion-input>
      </ion-item>
      <ng-container *ngFor="let error of errorMessages.new_password">
        <div class="error-message" *ngIf="changePasswordForm.get('new_password').hasError(error.type) && (changePasswordForm.get('new_password').dirty || changePasswordForm.get('new_password').touched)">
          {{ error.message }}
        </div>
      </ng-container>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" required="" formControlName="confirm_password" spellcheck="false" autocomplete="off" autocapitalize="off" class="ion-text-left" maxlength="30" placeholder=" "></ion-input>
      </ion-item>
      <ng-container *ngFor="let error of errorMessages.confirm_password">
        <div class="error-message" *ngIf="changePasswordForm.get('confirm_password').hasError(error.type) && (changePasswordForm.get('confirm_password').dirty || changePasswordForm.get('confirm_password').touched)">
          {{ error.message }}
        </div>
      </ng-container>
      <ng-container *ngIf="passwordNotMatch">
        <div class="error-message">
          New password & confirm password should match!
        </div>
      </ng-container>
    </ion-list>
    <ion-button expand="full" type="button" class="signup-btn" shape="round" (click)="updatePasswordDetails()"
         [disabled]="!changePasswordForm.valid">Update Password</ion-button>
  </form>
</ion-content>