$colors:(
    primary:hsl(123, 100%, 30%),
    secondary:hsl(165, 74%, 52%),
    primabold: hsl(229, 90%, 44%),
    accent: hsl(33, 100%, 50%),
    dgrey: #3f3f3f,
    tgrey: hsl(0, 0%, 61%),
    lgrey: hsl(0, 0%, 91%),
    twhite: hsl(0, 0%, 100%),
    tred: hsl(348, 99%, 61%),
    warn: hsl(41, 99%, 61%),
    ok: hsl(133, 100%, 56%) 
)