<ion-list>
  <ion-list-header>
    <ion-label>
      Choose Company and Type of Service
    </ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label>Select a Company</ion-label>
    <ion-select value="company" okText="Okay" cancelText="Cancel">
      <ion-select-option value="samsung">Samsung</ion-select-option>
			<ion-select-option value="enjinia">Enjinia</ion-select-option>
			<ion-select-option value="apple">Apple</ion-select-option>
      <ion-select-option value="microsoft">Microsoft</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Select type of Service</ion-label>
    <ion-select value="service" okText="Okay" cancelText="Cancel">
			<ion-select-option value="samsung">Samsung</ion-select-option>
			<ion-select-option value="enjinia">Enjinia</ion-select-option>
			<ion-select-option value="apple">Apple</ion-select-option>
      <ion-select-option value="microsoft">Microsoft</ion-select-option>
    </ion-select>
	</ion-item>
	
	<ion-button routerLink="/book" expand="block">Block Button</ion-button>

</ion-list>
