<ion-header>
  <ion-toolbar>  
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card">
  
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="searchTerm" mode="ios" placeholder="Search Services" (ionChange)="searchService($event.detail.value)"></ion-searchbar>
    </ion-toolbar>

  <ion-card *ngFor="let service of allServices;" (click)="clickcard()">
    <ion-card-content>    
      <ion-grid>
        <ion-row justify-content-center>

          <!-- <ion-button routerLink="/book" shape="round">
            <ion-icon name="book"></ion-icon>
          </ion-button> -->

          <ion-col> 
            <img class="card-img" src="{{ service.background }}"/>
            <div class="card-title">{{ service.service_name }}</div>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>